@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ZCOOL+XiaoWei&display=swap");

:root {
    --imperial-red: #C8102E;
    --gold: #FFD700;
    --jade-green: #009B77;
    --chinese-black: #101820;
    --ivory: #FFFFF0;
    --crimson: #DC143C;
    --rich-burgundy: #6D2C91;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Great Vibes', 'Dancing Script', cursive;
    background-image: url("/wallpaper/game.jpeg");
    background-size: cover;
    overflow-y: hidden;
}

/* Navbar styling */
.navbar {
    background-color: var(--imperial-red);
    padding: 10px;
    position: fixed;
    width: 100%;
    height: 30px;
    z-index: -1;
}

/* Container for navbar elements */
.navbar-container {
    display: flex;
    align-items: center;
    justify-content: start;
}

/* Navbar button styling */
.navbar-button {
    cursor: pointer;
}

/* Image styling for buttons */
.navbar-button img {
    width: 24px;
    height: 24px;
}

.players {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.avatar img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid var(--gold);
}

.table-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 60px;
    top: 100px;
    border-radius: 25px;
    position: relative;
}

.tile-set {
    display: grid;
    grid-template-columns: repeat(9, 75px);
    grid-template-rows: repeat(4, 100px);
    gap: 10px;
}

.extra-tile {
    width: 75px;
    height: 100px;
    border-radius: 8px;
    background-color: var(--ivory);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 120px;
    cursor: move;
    z-index: 10;
    color: var(--chinese-black);
    transition: transform 0.2s, opacity 0.2s;
}

.extra-tile:active {
    opacity: 0.7;
}

.extra-tile:hover {
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

#extra {
    position: absolute;
    z-index: 9;
}

.tile {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: var(--ivory);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 120px;
    cursor: pointer;
    color: var(--chinese-black);
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.5s ease, color 0.6s, background-color 0.6s;
}

.tile.flip {
    transform: rotateY(180deg);
}

.tile.move-down {
    transform: translateY(100%);
}

.tile::before {
    content: attr(data-name);
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.tile::after {
    content: attr(data-name);
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--jade-green);
    color: var(--chinese-black);
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

.player-name {
    font-size: 1.2em;
    color: var(--imperial-red);
    margin-top: 10px;
}

#playButton {
    border: none;
    border-radius: 2px;
    margin-top: 0;
    margin-left: 60px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: transparent;
}

#playButton:hover {
    background-color: var(--crimson);
}

#sound{
    width: 25px;
    height: 25px;
}

#reStart {
    border: none;
    border-radius: 2px;
    margin-top: 0;
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: transparent;
}

#reStart:hover {
    background-color: var(--crimson);
}

#start{
    width: 25px;
    height: 25px;
}

#undoButton {
    border: none;
    border-radius: 2px;
    margin-top: 0;
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: transparent;
}

#undoButton:hover {
    background-color: var(--crimson);
}

#undo{
    width: 25px;
    height: 25px;
}

.loader {
    position: fixed;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
    border: 16px solid var(--ivory);
    border-top: 16px solid var(--rich-burgundy);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    display: none;
    box-shadow: 0 0 20px var(--gold);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}