:root {
    --imperial-red: #C8102E;
    --gold: #FFD700;
    --jade-green: #009B77;
    --chinese-black: #101820;
    --ivory: #FFFFF0;
    --crimson: #DC143C;
    --rich-burgundy: #6D2C91;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Great Vibes', 'Dancing Script', cursive;
    background-image: url("https://getwallpapers.com/wallpaper/full/d/4/9/1320850-chinese-theme-wallpaper-1920x1166-ipad-pro.jpg");
}

h1 {
    text-align: center;
    font-size: 50px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--chinese-black);
    color: var(--ivory);
}

.table-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px;
    padding: 20px;
    border-radius: 25px;
    background-color: var(--jade-green);
    position: relative;
}

.tile-set {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 15px;
    width: 600px;
    height: 600px;
    padding: 10px;
}

.extra-tile {
    width: 52px;
    height: 138px;
    border: 5px solid var(--rich-burgundy);
    border-radius: 15px;
    background-color: var(--ivory);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    cursor: move;
    z-index: 10;
    color: var(--chinese-black);
}

#extra {
    position: absolute;
    z-index: 9;
    text-align: center;
}

.tile {
    width: 100%;
    height: 100%;
    border: 5px solid var(--rich-burgundy);
    border-radius: 15px;
    background-color: var(--ivory);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: var(--chinese-black);
}

#playButton {
    background-color: var(--ivory);
    border: none;
    border-radius: 2px;
    margin-top: 0;
    margin-left: 60px;
}

#sound {
    width: 25px;
    height: 25px;
}

#reStart {
    background-color: var(--ivory);
    border: none;
    border-radius: 2px;
    margin-top: 0;
    margin-left: 10px;
}

#start {
    width: 25px;
    height: 25px;
}