:root {
    --imperial-red: #C8102E;
    --gold: #FFD700;
    --jade-green: #009B77;
    --chinese-black: #101820;
    --ivory: #FFFFF0;
    --crimson: #DC143C;
    --rich-burgundy: #6D2C91;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Great Vibes', 'Dancing Script', cursive;
    background-image: url("https://getwallpapers.com/wallpaper/full/d/4/9/1320850-chinese-theme-wallpaper-1920x1166-ipad-pro.jpg");
    background-size: cover;
}

h1 {
    text-align: center;
    font-size: 45px;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--chinese-black);
    color: var(--ivory);
    text-shadow: 2px 2px 5px var(--rich-burgundy);
}

#Table {
    display: block;
}

.table-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px;
    padding: 20px;
    border-radius: 25px;
    background-color: var(--jade-green);
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.tile-set {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 15px;
    width: 600px;
    height: 600px;
    padding: 0px;
}

.extra-tile {
    width: 52px;
    height: 135px;
    border: 5px solid var(--rich-burgundy);
    border-radius: 15px;
    background-color: var(--ivory);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    cursor: move;
    z-index: 10;
    color: var(--chinese-black);
    transition: transform 0.2s, opacity 0.2s;
}

.extra-tile:active {
    opacity: 0.7;
}

.extra-tile:hover {
    border-color: var(--gold);
    outline: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

#extra {
    position: absolute;
    z-index: 9;
    text-align: center;
}

.tile {
    width: 100%;
    height: 100%;
    border: 5px solid var(--rich-burgundy);
    border-radius: 15px;
    background-color: var(--ivory);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: var(--chinese-black);
    transition: transform 0.6s, color 0.6s, background-color 0.6s;
    transform: rotateY(180deg);
}

.tile:hover {
    transform: rotateY(0deg);
    background-color: var(--ivory);
    color: var(--chinese-black);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.tile::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: var(--rich-burgundy);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
    transform: rotateY(0deg);
    backface-visibility: hidden;
    transition: transform 0.6s;
}

.tile:hover::before {
    transform: rotateY(180deg);
}

/* .tile {
    width: 100%;
    height: 100%;
    border: 5px solid var(--rich-burgundy);
    border-radius: 15px;
    background-color: var(--ivory);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: var(--chinese-black);
    transition: box-shadow 0.3s, transform 0.2s;
} */

.tile:focus, .tile:hover {
    border-color: var(--gold);
    outline: none;
}

#playButton {
    background-color: var(--ivory);
    border: none;
    border-radius: 2px;
    margin-top: 0;
    margin-left: 60px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#playButton:hover {
    background-color: var(--jade-green);
    color: var(--ivory);
}

#sound {
    width: 25px;
    height: 25px;
}

#reStart {
    background-color: var(--ivory);
    border: none;
    border-radius: 2px;
    margin-top: 0;
    margin-left: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#reStart:hover {
    background-color: var(--jade-green);
    color: var(--ivory);
}

#start {
    width: 25px;
    height: 25px;
}

.loader {
    position: fixed;
    top: 45%;
    left: 45%;
    transform: translate(-50%, -50%);
    border: 16px solid var(--ivory);
    border-top: 16px solid var(--jade-green);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    display: none;
    box-shadow: 0 0 20px var(--gold);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 600px) {
    .tile-set {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 10px;
    }

    .tile, .extra-tile {
        width: 40px;
        height: 100px;
    }

    #playButton, #reStart {
        margin-left: 0;
    }

    h1 {
        font-size: 35px;
    }
}